
#loginPage #navbarSupportedContent {
    flex-direction: row-reverse;
}

.logo {
    width: 40px;
}

.miturno, .miturno a {
    background-color: green;
    color: yellow;
}

.celda {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    font-size: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fila {
    display: flex;
}

#tablero {
    display: flex;
    flex-wrap: wrap;
    width: 606px;
    margin: 0 auto;
}

.jugador {
    text-align: center;
}

.miturno {
    background-color: green;
    color: white;
}

.register-form, .login-form {
    margin-top: 50px;
}

#c_btnsubmit {
    margin-top: 60px;
}

#btnsubmit {
    font-weight: bold;
}

#cabecera-login-reg {
    margin-top: 20px;
}

#cabecera-formulario {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#contenido-formulario {
    margin-top: 30px;
}

#registro-pass {
    margin-top: 30px;
}