#loginPage #navbarSupportedContent {
    flex-direction: row-reverse;
}

.logo{
    width: 40px;
}

.miturno{
    background-color: green;
}

.celda{
    width: 200px;
    height: 200px;
    border: 1px solid black;
}
.fila{
    display: flex;
}
#tablero{
    width: 606px;
    margin: 0 auto;
}