#loginPage #navbarSupportedContent {
    flex-direction: row-reverse;
}

.logo{
    width: 40px;
}

.miturno{
    background-color: green;
}

.celda{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    font-size: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fila{
    display: flex;
}
#tablero{
    display: flex;
    flex-wrap: wrap;
    width: 606px;
    margin: 0 auto;
}
.jugador{
    text-align: center;
}
.miturno{
    background-color: green;
    color: white;
}
#btnCerrarSession{
    border: none;
    background-color: white;
}

.container-fluid{
    width: 80% !important;
    margin: 40px auto !important;
}

.local{
    color: red;
}
.visitante{
    color: blue;
}
#resultado{
    border: 2px solid;
    border-radius: 5px;
    top: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    background-color: rgba(255,255,255,0.8);
}